*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(14, 14, 14);
}
#top{
    height: 500px;
    background-image: url(imagens/strenger.jpg);
    background-size: cover;
    background-attachment: fixed;
}
#menu_superior{
    background-color: rgba(29, 29, 29, 0.575);
    height: 80px;
}
#conteudo_menu_sup{
    width: 700px;
    float: right;
    margin-top: 20px;    
    display: flex;
    justify-content: space-between;

}

#primeiro{
    margin-left: 0px;
}
#conteudo_menu_sup ul {
    list-style: none;
    display: flex;
}

#conteudo_menu_sup ul li{
    margin-right: 10px;
}

#conteudo_menu_sup a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 16px;
    margin-left: 20px;
}
#conteudo_menu_sup a:hover{
    color: rgb(197, 196, 196);
}
#conteudo_menu_sup input{
    border:0px;
    border-bottom: 2px solid whitesmoke;
    margin-left: 20px;
    float: right;
    height: 30px;
    width: 300px;
    background-image: url(imagens/search-svgrepo-com.svg);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: right;
    background-color: rgba(0, 0, 0, 0);
}

#conteudo_menu_sup input::placeholder{
    font-size: 16px;
    color: whitesmoke;
}
#conteudo{
    width: 90%;
    margin-left: 50px;
    margin-top: 30px;
}

#conteudo h1{
    color: whitesmoke;
}

#grade_serie{
    display: flex;
    color: whitesmoke;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

#serie{
    width: 300px;
    margin-left: 20px;
    margin-top: 20px;
    height: 200px;
}

#serie img{
    width: 100%;
    border-radius: 5px;
    height: 100%;
}

#serie:hover{
    border: solid whitesmoke 2px;
    border-radius: 10px;
    padding: 1px;
    cursor: pointer;
}

#grade_filme{
    display: flex;
    color: whitesmoke;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

#filme{
    width: 300px;
    margin-top: 20px;
    height: 200px;
}

#filme:hover{
    cursor: pointer;
}
#rodape{
    background-color: rgb(31, 30, 30);
    height: 100%;
    color: antiquewhite;
   
    display: flex;
    justify-content: space-around;
}

#rodape ul li{ cursor: pointer;
    list-style: none;
    margin-bottom: 10px;
}