*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
#top{
    height: 500px;
    background-image: url(imagens/strenger.jpg);
    background-size: cover;
    background-attachment: fixed;
}
#menu_superior{
    background-color: rgba(29, 29, 29, 0.575);
    height: 80px;
}
#conteudo_menu_sup{
    width: 700px;
    float: right;
    margin-top: 20px;    
    display: flex;
    justify-content: space-between;

}

#primeiro{
    margin-left: 0px;
}
#conteudo_menu_sup ul {
    list-style: none;
    display: flex;
}

#conteudo_menu_sup ul li{
    margin-right: 10px;
}

#conteudo_menu_sup a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 16px;
    margin-left: 20px;
}
#conteudo_menu_sup a:hover{
    color: brown;
    font-size: large;
}
#conteudo_menu_sup input{
    border:0px;
    border-bottom: 2px solid whitesmoke;
    margin-left: 20px;
    float: right;
    height: 30px;
    width: 300px;
    background-image: url(imagens/search-svgrepo-com.svg);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: right;
    background-color: rgba(0, 0, 0, 0);
}

#conteudo_menu_sup input::placeholder{
    font-size: 16px;
    color: whitesmoke;
}
#titulo_destaque{
    width: 40vw;
    height: 76%;
    background-color: rgba(29, 29, 29, 0.575);
    padding-top: 40px;
}
#conteudo_dest{
    width: 90%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: auto;
    margin-right: auto;
    color: whitesmoke;

}

#conteudo_dest h4 span{
    font-size: small;
    font-style: italic;
}
#conteudo_dest h6{
    color: rgb(61, 219, 101);
    font-style: italic;
}
#conteudo_dest h6 span{
    color: rgb(187, 187, 187);
}

.square{
    border: solid whitesmoke 1px;
    padding-right: 5px;
    padding-left: 5px;
}
#play{
    text-decoration: none;
    background-color: red;
    color: white;
    border-radius: 20px;
    padding: 7px;
}

#play:hover{
    padding: 8px;
}