*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(14, 14, 14);
}
#top{
    height: 500px;
    background-image: url(imagens/strenger.jpg);
    background-size: cover;
    background-attachment: fixed;
}
#menu_superior{
    background-color: rgba(29, 29, 29, 0.575);
    height: 80px;
}
#conteudo_menu_sup{
    width: 700px;
    float: right;
    margin-top: 20px;    
    display: flex;
    justify-content: space-between;

}

#primeiro{
    margin-left: 0px;
}
#conteudo_menu_sup ul {
    list-style: none;
    display: flex;
}

#conteudo_menu_sup ul li{
    margin-right: 10px;
}

#conteudo_menu_sup a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 16px;
    margin-left: 20px;
}
#conteudo_menu_sup a:hover{
    color: brown;
    font-size: large;
}
#conteudo_menu_sup input{
    border:0px;
    border-bottom: 2px solid whitesmoke;
    margin-left: 20px;
    float: right;
    height: 30px;
    width: 300px;
    background-image: url(imagens/search-svgrepo-com.svg);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: right;
    background-color: rgba(0, 0, 0, 0);
}

#conteudo_menu_sup input::placeholder{
    font-size: 16px;
    color: whitesmoke;
}
#titulo_destaque{
    width: 40vw;
    height: 76%;
    background-color: rgba(29, 29, 29, 0.575);
    padding-top: 40px;
}
#conteudo_dest{
    width: 90%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: auto;
    margin-right: auto;
    color: whitesmoke;

}

#conteudo_dest h4 span{
    font-size: small;
    font-style: italic;
}
#conteudo_dest h6{
    color: rgb(61, 219, 101);
    font-style: italic;
}
#conteudo_dest h6 span{
    color: rgb(187, 187, 187);
}

.square{
    border: solid whitesmoke 1px;
    padding-right: 5px;
    padding-left: 5px;
}
#play{
    text-decoration: none;
    background-color: red;
    color: white;
    border-radius: 20px;
    padding: 7px;
}

#play:hover{
    padding: 8px;
}

#onfire{
    margin-top: 30px;
    border-top: 2px solid whitesmoke;
    padding-top: 10px;
    border-bottom: 2px solid whitesmoke;
    height: 500px;
    color: whitesmoke;
}

#onfire h6{
    font-size: 30px;
    padding-left: 20px;
}

#onfire #grade_lugar{    
    display: flex;
    justify-content: space-around;
}

.lugar{ 
    border-right: 3px solid whitesmoke;
    padding-right: 6px;
    width: 300px;
    height: 80%;
}
.lugar h2{
    display: inline;
    font-size: 100px;
}
.lugar img{
    width: 240px;
    height: 400px;
    float: right;
    
}

/**********/

#seções{
    background: rgba(45, 45, 44, 0.27);
    border-radius: 13px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.7px);
    -webkit-backdrop-filter: blur(3.7px);    
    border: 1px solid rgba(45, 45, 44, 0.39);

    width: 60%;
    height: 100px;
    margin-top: 350px;
    margin-left: 60%;
    display: flex;    
    flex-wrap: wrap;

    justify-content: space-around;
}

#filmes h2{
    color: whitesmoke;
    margin-left: 20px;
    border-bottom: 1px solid whitesmoke;
    font-style: italic;
    width: 80px;
}

#produtos{
    height: 100px;
    width: 90px;
    text-align: center;

}

#produtos img{
    width: 60px;
    margin-top: 4px;

}

#produtos p{
    display: inline-block;
    font-size: 16px;
}

#seções a{
    color: rgb(43, 42, 42);
}

#seções a:hover img{
    border: solid rgba(200, 245, 178, 0.884) 2px;
    border-radius: 100%;
    
}

#mercadorias{
    height: 450px;
    margin-top: 20px;
    padding-top: 100px;
    padding-left: 4px;
    background-color: rgb(224, 224, 224);
   
}

#seçoes{
    height: 260px;
    font-family: Arial, Helvetica, sans-serif;    
}

.titulos h2{
    width: 100px;
    border-bottom: 4px solid black;
}

.cards-conteiner{
    display:flex;    
    overflow: hidden;

}

.cards .card .content-card{
    height: 210px;
    width: 200px;

}

.main-cards {
       
    display: flex;
    justify-content: space-around;   
    transition: all 3s ease;
}

.cards{
    margin-left: 115px;  
    margin-top: 5px; 
    border-radius: 10px;
}
.button{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.button img{
    width: 40px;
    height: 50px;
    opacity: 80%;
}

.button label{
    height: 15px;
    width: 15px;
}

.button label.one{
    float: right;
    margin-top: -150px;
    margin-right: 95%;

}

.button label.two{

    float: right;
    margin-top: -150px;

}

.cards-conteiner input {
    display: none;
} 

#two:checked ~ .main-cards{
    margin-left: -100%;
}

.produto{
    position: relative;
    overflow: hidden; 
}

.produto img{
    height: 210px;
    width: 200px;
    border-radius: 10px;    

}

.descrisão-produto{   
    background-color: rgba(27, 27, 27, 0.521);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(57, 55, 55, 0.38);

    position: absolute;
    bottom: 3px;
    height: 210px;
    width: 200px;
    border-radius: 10px;        
    opacity: 0;
}

.descrisão-produto h1{
    color: rgb(223, 223, 223);
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 20px;
    transform: rotateY(30px);
    transition: 0.5s;
    opacity: 0;
}

.descrisão-produto p{
    margin-top: 4px;
    margin-left: 9%;
    width: 80%;
    color: rgb(223, 223, 223);
    transform: rotateY(30px);
    transition: 0.5s;
    opacity: 0;
}

.produto:hover .descrisão-produto{
    opacity: 1;
}

.produto:hover .descrisão-produto p{
    opacity: 1;
}

.produto:hover .descrisão-produto h1{
    opacity: 1;
}
#clasificacao{
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

/**************************************************************/
#seções_series{
    background: rgba(45, 45, 44, 0.27);
    border-radius: 13px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.7px);
    -webkit-backdrop-filter: blur(3.7px);    
    border: 1px solid rgba(45, 45, 44, 0.39);

    width: 60%;
    height: 100px;
    margin-top: 350px;
    margin-left: 60%;
    display: flex;    
    flex-wrap: wrap;

    justify-content: space-around;
}

#series h2{
    color: whitesmoke;
    margin-left: 20px;
    border-bottom: 1px solid whitesmoke;
    font-style: italic;
    width: 80px;
}

#produtos_series{
    height: 100px;
    width: 90px;
    text-align: center;

}

#produtos_series img{
    width: 60px;
    margin-top: 4px;

}

#produtos_series p{
    display: inline-block;
    font-size: 16px;
}

#seções_series a{
    color: rgb(43, 42, 42);
}

#seções_series a:hover img{
    border: solid rgba(200, 245, 178, 0.884) 2px;
    border-radius: 100%;
    
}

#mercadorias_series{
    height: 450px;
    margin-top: 20px;
    padding-top: 100px;
    padding-left: 4px;
    background-color: rgb(224, 224, 224);
   
}

#seçoes_series{
    height: 260px;
    font-family: Arial, Helvetica, sans-serif;    
}

.titulos_series h2{
    width: 100px;
    border-bottom: 4px solid black;
}

.cards-conteiner_series{
    display:flex;    
    overflow: hidden;

}

.cards_series .card_series .content-card_series{
    height: 210px;
    width: 200px;

}

.main-cards_series {
       
    display: flex;
    justify-content: space-around;   
    transition: all 3s ease;
}

.cards_series{
    margin-left: 115px;  
    margin-top: 5px; 
    border-radius: 10px;
}
.button_series{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.button_series img{
    width: 40px;
    height: 50px;
    opacity: 80%;
}

.button_series label{
    height: 15px;
    width: 15px;
}

.button_series label.one_series{
    float: right;
    margin-top: -150px;
    margin-right: 95%;

}

.button_series label.two_series{

    float: right;
    margin-top: -150px;

}

.cards-conteiner_series input {
    display: none;
} 

#two_series:checked ~ .main-cards_series{
    margin-left: -100%;
}

.produto_series{
    position: relative;
    overflow: hidden; 
}

.produto_series img{
    height: 210px;
    width: 200px;
    border-radius: 10px;    

}

.descrisão-produto_series{   
    background-color: rgba(27, 27, 27, 0.521);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(57, 55, 55, 0.38);

    position: absolute;
    bottom: 3px;
    height: 210px;
    width: 200px;
    border-radius: 10px;        
    opacity: 0;
}

.descrisão-produto_series h1{
    color: rgb(223, 223, 223);
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 20px;
    transform: rotateY(30px);
    transition: 0.5s;
    opacity: 0;
}

.descrisão-produto_series p{
    margin-top: 4px;
    margin-left: 9%;
    width: 80%;
    color: rgb(223, 223, 223);
    transform: rotateY(30px);
    transition: 0.5s;
    opacity: 0;
}

.produto_series:hover .descrisão-produto_series{
    opacity: 1;
}

.produto_series:hover .descrisão-produto_series p{
    opacity: 1;
}

.produto_series:hover .descrisão-produto_series h1{
    opacity: 1;
}
#clasificacao_series{
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}